<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>PDV - Gold Cell</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>

<div class="container">

    <!-- Sidebar -->
    <aside class="sidebar">
        <h1 class="logo">Gold Cell</h1>

        <nav class="menu">
            <a href="/vendas"><button>Vendas</button></a>
            <a href="/produtos"><button>Produtos</button></a>
            <a href="/vendedores"><button>Clientes</button></a>
            <a href="/relatorios"><button>Relatórios</button></a>
        </nav>
    </aside>

    <!-- Conteúdo dinâmico -->
    <main class="main-content">

        {% block content %}
        {% endblock %}

    </main>

</div>

</body>
</html>
