{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='products.css') }}">
{% endblock %}

{% block content %}

<h2>Produtos</h2>

<div class="products-header">

    <!-- Busca -->
    <form method="get" class="search-box">

        <input 
            type="text" 
            name="search" 
            placeholder="Pesquisar produto..."
            value="{{ request.args.get('search','') }}"
        >

        <button type="submit">Buscar</button>

    </form>

    <!-- Novo -->
    <a href="/produtos/novo">
        <button class="btn-add">+ Novo</button>
    </a>

</div>

<!-- Tabela -->

<table class="products-table">

    <tr>
        <th>Categoria</th>
        <th>Item</th>
        <th>Preço</th>
        <th>Estoque</th>
        <th>Editar</th>
    </tr>

    {% for row in data %}
<!-- ultima alteração -->
<tr>
    <td>{{ row[1] }}</td>
    <td>{{ row[3] or "-" }}</td>
    <td>R$ {{ row[4] or "0.00" }}</td>
    <td>{{ row[5] or "0" }}</td>

    <!-- Ações -->
    <td class="actions">

        <!-- Editar -->
        <a href="/produtos/editar/{{ row[0] }}">
            <button class="btn-edit">Editar</button>
        </a>

        <!-- Remover -->
        <a href="/produtos/remover/{{ row[0] }}"
           onclick="return confirm('Deseja realmente remover este item?')">
            <button class="btn-delete">Remover</button>
        </a>

    </td>
</tr>

{% endfor %}

</table>

{% endblock %}

